/** wadah dari main content **/

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* padding : 100px; */
}

.flex-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
    position: relative;
    /** penting untuk memulai flex **/
    display: flex;
}

/** membuat  cover bacground image  **/

.with-image {
    background-image: url("../storage/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/** membuat nama atas **/

.flex-top-name {
    flex: 3;
    justify-content: center;
    align-items: center;
    display: flex;
}

.top-name {
    border: 5px solid white;
    padding: 5px;
}

.top-name a {
    color: white;
    text-decoration: none;
}

/** membuat content deskripsi **/

.content {
    font-weight: 400;
    width: 50%;
}

.content p {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.flex-content {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/** membuat form **/

.flex-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    flex: 3;
}

.flex-form .flex-parent-inflex-wrapperput-form {
    flex: 0.6
}

.flex-form .flex-parent-input-form .flex-input-form {
    margin-right: 10px;
    border-radius: 5px;
    background: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.flex-form .flex-input-form .input-form {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 0.8rem;
}

.flex-form .flex-button-form {
    flex: 0.4;
}

.flex-form .flex-button-form .button-form {
    display: block;
    border-radius: 5px;
    background: #43a047;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

/**
    membuat text menggulir kebawah 
**/

.flex-scroll {
    flex-direction: column;
    align-items: center;
    color: white;
    flex: 1;
    display: flex;
    padding-bottom: 20px;
    justify-content: flex-end;
}

.flex-scroll small {
    font-size: 0.8rem;
}

.flex-scroll .flex-arrow-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #444;
    opacity: 0.3;
}